.search-input {
    position: relative;
    .input-field-icon {
      top: 4px;
      left: 10px;
      position: absolute;
      padding: 0.5rem 1rem;
    }
  
    .input-field {
      padding-left: 3rem;
    }
  }
  