@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

:root {
  --box-shadow: 0 0 2px 1px rgb(0, 0, 0, 0.1);
}

.light-theme {
  --text-color: hsl(200, 15%, 8%);
  --input-color: hsl(0, 0%, 52%);
  --bg-color: hsl(0, 0%, 98%);
  --elements-color: hsl(0, 0%, 100%);
}

.dark-theme {
  --text-color: hsl(0, 0%, 100%);
  --input-color: hsl(0, 0%, 52%);
  --bg-color: hsl(207, 26%, 17%);
  --elements-color: hsl(209, 23%, 22%);
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  color: var(--text-color);
  background-color: var(--bg-color);
}

a,
a:active,
a:hover {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.title {
  font-weight: 800;
  font-size: 1.2rem;
}

.label {
  font-weight: 600;
}

// Bootstrap Overrides
.form-control,
.form-select {
  font-size: inherit;
  background-color: var(--elements-color) !important;
  border: 1px solid var(--elements-color);
  box-shadow: var(--box-shadow);
  color: var(--text-color) !important;
  &:focus {
    border: 1px solid var(--elements-color);
    box-shadow: var(--box-shadow);
  }
}

::placeholder{
  color: var(--text-color) !important;
  opacity: 1;
}